<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.guanzongroup.com.creditapp">

    <application>
        <activity
            android:name=".Activities.Activity_LoanPreview"
            android:exported="true" />
        <activity
            android:name=".Activities.Activity_OtherInfo"
            android:exported="true" />
        <activity
            android:name=".Activities.Activity_MeansInfo"
            android:exported="true" />
        <activity
            android:name=".Activities.Activity_IntroductoryQuestion"
            android:exported="true" />
        <activity
            android:name=".Activity_ProductList"
            android:exported="true" />
    </application>

</manifest>