<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.guanzongroup.com.creditapp">

    <application>
        <activity
            android:name=".Activity_Sample"
            android:exported="true"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Activity_LoanProductList"
            android:exported="true"
            android:screenOrientation="userPortrait" />
    </application>

</manifest>