<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Activity.Activity_Purchases"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_WriteProductReview"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_PayOrder"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_ProductReview"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_ProductOverview"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_SearchItem"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_PlaceOrder"
            android:exported="true" />
    </application>

</manifest>