<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.androidprojects.guanzongroup.g3logindriver">

    <application>

        <activity
            android:name=".Activity_RequestPassword"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/LoginMaterialTheme"
            android:screenOrientation="userPortrait"/>
        <activity android:name=".Activity_CreateAccount"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/LoginMaterialTheme"
            android:screenOrientation="userPortrait"/>
        <activity
            android:name=".Login.Activity_Login"
            android:theme="@style/LoginMaterialTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="userPortrait"/>

        <service
            android:name=".Services.LoginImportService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>