<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Activity_GuanzonPanalo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Activity_PreviewMessage"
            android:exported="false"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Activity.Activity_NotificationList"
            android:exported="false"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Activity.Activity_ViewNotification"
            android:exported="false"
            android:label="Notifications"
            android:screenOrientation="userPortrait" />
    </application>

</manifest>