<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Activity.Activity_GCardOffline"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_QrCodeScanner"
            android:exported="false"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Activity.Activity_AddGcard"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_ManageGcard"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
    </application>

</manifest>