<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Activity.Activity_AccountUpdate"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_AddressUpdate"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_AccountVerification"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_TermsAndConditions"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_ShippingAddress"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_CompleteAccountDetails"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_EditAccountDetails"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_AccountDetails"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_ForgotPassword"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_SignUp"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_Login"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/GuanzonMarketplace.Theme" />
    </application>

</manifest>