<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.useraccount">

    <application>
        <activity
            android:name=".Activity.Activity_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_SignUp"
            android:exported="false"
            android:theme="@style/GuanzonMarketplace.Theme" />
        <activity
            android:name=".Activity.Activity_Login"
            android:exported="false"
            android:theme="@style/GuanzonMarketplace.Theme" />
    </application>

</manifest>